# Manipulation Techniques

Overview of manipulation techniques

1. Combining DataFrames
2. Filtering DataFrames
3. Reshaping DataFrames

In [1]:
# Setup default imports here
import numpy as np
import pandas as pd

# 1. Combining Data

There are 3 main ways for combining pandas data frames

1. Concatenate
2. Merge
3. Join

## Concatenate

- To append different rows/columns together use pd.concat
- Final dataframe consists of the union of columns

### Concatenate rows
pd.concat(list_dfs)
<img height="400" src="C:\Github\pandas_demo\images\concatenate_rows.jpg" width="400"/>

In [2]:
# Example on concatenation
ABC_df = pd.DataFrame(
    {
        "A": [1, 2, 3, 4],
        "B": [10, 20, 30, 40],
        "C": [100, 200, 300, 400],
    }
)

BCD_df = pd.DataFrame(
    {
        "B": [10, 20, 30, 40],
        "C": [100, 200, 300, 400],
        "D": [1000, 2000, 3000, 4000],
    }
)

In [3]:
# Row concatenation
# Note that original indexes will be retained
pd.concat([ABC_df, BCD_df])

     A   B    C       D
0  1.0  10  100     NaN
1  2.0  20  200     NaN
2  3.0  30  300     NaN
3  4.0  40  400     NaN
0  NaN  10  100  1000.0
1  NaN  20  200  2000.0
2  NaN  30  300  3000.0
3  NaN  40  400  4000.0

In [4]:
# Since df label indices need not be unique
pd.concat([ABC_df, BCD_df]).loc[0]

     A   B    C       D
0  1.0  10  100     NaN
0  NaN  10  100  1000.0

In [5]:
# to reset indexes
pd.concat([ABC_df, BCD_df], ignore_index=True)
# This is the same as 
# pd.concat([ABC_df, BCD_df]).reset_index(drop=True)

     A   B    C       D
0  1.0  10  100     NaN
1  2.0  20  200     NaN
2  3.0  30  300     NaN
3  4.0  40  400     NaN
4  NaN  10  100  1000.0
5  NaN  20  200  2000.0
6  NaN  30  300  3000.0
7  NaN  40  400  4000.0

### Concatenate columns
pd.concat(list_dfs, axis=1)
<img height="400" src="C:\Github\pandas_demo\images\concatenate_columns.jpg" width="400"/>

In [6]:
# Column concatenation
# Set axis=1 to concatenate columns
pd.concat([ABC_df, BCD_df], axis=1)

   A   B    C   B    C     D
0  1  10  100  10  100  1000
1  2  20  200  20  200  2000
2  3  30  300  30  300  3000
3  4  40  400  40  400  4000

## Merge

- Pandas merge functionality is very similar to sql joins
<img height="400" src="C:\Github\pandas_demo\images\merge.jpg" width="400"/>

In [7]:
# Example on Merge
pd.merge(
    ABC_df, BCD_df,
    how="left", on="B"
)
# Note the difference vs concatenate where duplicate columns have _x / _y
# This can be configured by overriding the suffixes parameter

   A   B  C_x  C_y     D
0  1  10  100  100  1000
1  2  20  200  200  2000
2  3  30  300  300  3000
3  4  40  400  400  4000

### Other useful methods when doing merge

- Validations
- Indicators

In [8]:
# merge validations
# validating keys must be unique "one_to_one"
# This works as keys in B is unique
pd.merge(
    ABC_df, BCD_df,
    how="left", on="B",
    validate="one_to_one"
)

   A   B  C_x  C_y     D
0  1  10  100  100  1000
1  2  20  200  200  2000
2  3  30  300  300  3000
3  4  40  400  400  4000

In [9]:
BCD_2_df = pd.DataFrame(
    {
        "B": [10, 20, 20, 40],
        "C": [100, 200, 300, 400],
        "D": [1000, 2000, 3000, 4000],
    }
)

# raise an error as B is no longer unique
pd.merge(
    ABC_df, BCD_2_df,
    how="left", on="B",
    validate="one_to_one"
)

MergeError: Merge keys are not unique in right dataset; not a one-to-one merge

In [10]:
# No error if one to many is allowed
pd.merge(
    ABC_df, BCD_2_df,
    how="left", on="B",
    validate="one_to_many"
)

   A   B  C_x    C_y       D
0  1  10  100  100.0  1000.0
1  2  20  200  200.0  2000.0
2  2  20  200  300.0  3000.0
3  3  30  300    NaN     NaN
4  4  40  400  400.0  4000.0

## Join
- Similar to merge but is based on the index
- Suffix must be provided for duplicate columns

In [11]:
ABC_df.join(BCD_df)

ValueError: columns overlap but no suffix specified: Index(['B', 'C'], dtype='object')

In [12]:
ABC_df.join(BCD_df, lsuffix="_x", rsuffix="_y")

   A  B_x  C_x  B_y  C_y     D
0  1   10  100   10  100  1000
1  2   20  200   20  200  2000
2  3   30  300   30  300  3000
3  4   40  400   40  400  4000

# 2. Filtering

Filtering in Pandas involves selecting specific rows or columns from a DataFrame based on certain conditions. 
There are 2 main ways to filter data in Pandas:

1. conditional statements / boolean indexing
2. query expressions

## Conditional statements / boolean indexing

In [13]:
# 1. Conditional statements / Boolean Indexing
ABC_df[ABC_df["A"] > 2]

   A   B    C
2  3  30  300
3  4  40  400

## Filter rows using a query expression

In [14]:
filtered_df = ABC_df.query('A > 2')
filtered_df

   A   B    C
2  3  30  300
3  4  40  400

### Comparison
Performance depends on the specific use case and the complexity of the condition being applied.

In general, query expressions can provide faster performance for large DataFrames compared to conditional statements. This is because query expressions leverage underlying code optimizations and evaluation strategies implemented by Pandas. Query expressions are compiled and optimized, which allows for more efficient execution of the filtering operation.

On the other hand, conditional statements are more flexible and allow for more complex conditions and logical expressions. They can handle a wider range of conditions and provide more explicit control over the filtering process.

It's important to note that the performance difference between query expressions and conditional statements may not be significant for small DataFrames or simple conditions. The impact becomes more noticeable as the size of the DataFrame and the complexity of the condition increase.

In [ ]:
## Performance example

In [19]:
# Create a large DataFrame with random values
np.random.seed(0)
df = pd.DataFrame({
    'A': np.random.randint(0, 1000, 10 ** 7),
    'B': np.random.choice(["a", "b", "c"], 10 ** 7),
    'C': np.random.randint(0, 1000, 10 ** 7),
    'D': np.random.randint(0, 1000, 10 ** 7),
})

In [34]:
# Using boolean indexing
boolean_indexing_example = df[
    (df['A'] > 500)
    & (df['B'] == 'b')
    & (df['C'] > 500)
    & (df['D'] > 500)
    ]
boolean_indexing_example

           A  B    C    D
0        684  b  778  646
4        835  b  804  794
26       677  b  772  877
28       845  b  887  957
33       976  b  711  734
...      ... ..  ...  ...
9999852  533  b  663  994
9999889  743  b  799  870
9999905  651  b  646  681
9999933  597  b  880  902
9999961  721  b  845  984

[414184 rows x 4 columns]

In [35]:
# Using query
query_example = df.query(
    "A > 500 and B == 'b' and C > 500 and D > 500",
)
query_example

           A  B    C    D
0        684  b  778  646
4        835  b  804  794
26       677  b  772  877
28       845  b  887  957
33       976  b  711  734
...      ... ..  ...  ...
9999852  533  b  663  994
9999889  743  b  799  870
9999905  651  b  646  681
9999933  597  b  880  902
9999961  721  b  845  984

[414184 rows x 4 columns]

In [39]:
assert np.array_equal(boolean_indexing_example, query_example)

True

In [28]:
%%timeit
df[
    (df['A'] > 500)
    & (df['B'] == 'b')
    & (df['C'] > 500)
    & (df['D'] > 500)
    ]

482 ms  13.8 ms per loop (mean  std. dev. of 7 runs, 1 loop each)

In [29]:
%%timeit
df.query(
    "A > 500 and B == 'b' and C > 500 and D > 500",
)

321 ms  34 ms per loop (mean  std. dev. of 7 runs, 1 loop each)

# 3. Reshaping Data
Reshaping data in Pandas involves transforming the structure of a DataFrame to make it more suitable for analysis or presentation.
There are several functions in Pandas that can be used for reshaping data.
Here are 2 common functions:

## Wide to Long
melt(): The melt() function is used to unpivot or melt a DataFrame, transforming it from a wide format to a long format.
It gathers multiple columns into key-value pairs, creating a new DataFrame.


## Long to Wide
pivot(): The pivot() function allows you to reshape a DataFrame based on unique values in one or more columns. It creates a new DataFrame with columns derived from the unique values and reshapes the data accordingly. Used most commonly to reshape data from long to wide format

## Wide to Long
<img height="400" src="C:\Github\pandas_demo\images\melt.jpg" width="400"/>

In [49]:
# Sample data with 6 columns
df_len = 5
wide_df = pd.DataFrame({
    'A': np.random.randint(0, 100, df_len),
    'B': ["B1", "B2", "B3", "B4", "B5"],
    'C': np.random.randint(0, 100, df_len),
    'D': np.random.randint(0, 100, df_len),
    'E': np.random.choice(["E1", "E2", "E3", "E4", "E5"], df_len),
    'F': np.random.choice(["F1", "F2", "F3", "F4", "F5"], df_len),
})
wide_df

    A   B   C   D   E   F
0  21  B1  51   0  E2  F5
1  72  B2  67  20  E3  F4
2   7  B3  42   9  E1  F3
3  52  B4  74   7  E1  F1
4  32  B5   4  70  E2  F3

In [50]:
# convert from wide to long using melt
long_df = wide_df.melt(
    id_vars=['B'],
    value_vars=['A', 'C', 'D', 'E', 'F']
)
long_df

     B variable value
0   B1        A    21
1   B2        A    72
2   B3        A     7
3   B4        A    52
4   B5        A    32
5   B1        C    51
6   B2        C    67
7   B3        C    42
8   B4        C    74
9   B5        C     4
10  B1        D     0
11  B2        D    20
12  B3        D     9
13  B4        D     7
14  B5        D    70
15  B1        E    E2
16  B2        E    E3
17  B3        E    E1
18  B4        E    E1
19  B5        E    E2
20  B1        F    F5
21  B2        F    F4
22  B3        F    F3
23  B4        F    F1
24  B5        F    F3

## Long to Wide
<img height="400" src="C:\Github\pandas_demo\images\pivot.jpg" width="400"/>

In [51]:
# Given the same data but in long format
# convert it back to wide format
long_df.pivot(
    index='B',
    columns='variable',
    values='value'
)

variable   A   C   D   E   F
B
B1        21  51   0  E2  F5
B2        72  67  20  E3  F4
B3         7  42   9  E1  F3
B4        52  74   7  E1  F1
B5        32   4  70  E2  F3

### Considerations
The choice between wide format vs long format depends on the specific circumstances and the type of analysis or presentation you want to perform.

#### Wide Format:
- Small number of variables that are fixed and known upfront
- We need to perform operations that require calculations across multiple variables.

#### Long Format:
- Large number of variables or variable categories
- There is need to constantly add new variables or categories
- Ideal for performing aggregations, transformations, and analysis using groupby, pivot, or melt operations.
- Facilitates easier merging and joining of datasets with different variables or categories.
- Often preferred for visualization purposes, as it allows for flexible plotting and faceting.